{% extends "base.html" %}

{% block content %}
<!-- -------- START HEADER ------- -->
<header class="bg-gradient-dark">
    <div class="page-header min-vh-75"
        style="background-image: url({{ url_for('static', filename='assets/img/bg-magic.png') }});">
        <span class="mask bg-gradient-dark opacity-3"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <div
                        class="col-lg-4 text-center p-3 pe-md-0 mx-auto my-auto">
                        <img class="w-100 border-radius-md shadow-lg"
                            src="{{ url_for('static', filename='assets/img/Radu.png') }}"
                            alt="radu">
                    </div>
                    <h5 class="d-flex justify-content-center text-primary">
                        Hello, I'm</h5>
                    <h1 class="text-white">RADU CHIRIAC</h1>
                    <h2 class="lead mb-4 text-white opacity-8">I'm just a guy
                        passionate about tech and Linux. I dabble in Python and
                        DevOps.</h2>

                    <h5 class="text-white mb-2 mt-5">Find me on</h5>
                    <div class="d-flex justify-content-center">
                        <a href="https://www.facebook.com/TheWhiz13/"><i
                                class="fab fa-facebook text-lg text-primary me-4"></i></a>
                        <a href="https://github.com/the-whiz84"><i
                                class="fab fa-github text-lg text-white me-4"></i></a>
                        <a href="https://www.linkedin.com/in/radu-chiriac/"><i
                                class="fab fa-linkedin text-lg text-warning me-4"></i></a>
                        <a href="https://x.com/the_whiz84   "><i
                                class="fab fa-twitter text-lg text-info"></i></a>
                    </div>
                    <div class="buttons">
                        <a href="{{ url_for('static', filename='files/Resume.pdf') }}"
                            class="btn btn-sm text-dark bg-white mt-4"
                            target="_blank">View Resume</a>
                        <a href="https://maps.app.goo.gl/u9i9G49btVbKAqBWA"
                            target="_blank"
                            class=" btn text-white shadow-none mt-4">
                            <i
                                class="material-symbols-rounded opacity-6 me-2 text-md">home_pin</i>Brasov,
                            Romania</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- -------- END HEADER ------ -->

<!-- START Projects -->
<div class="py-5">
    <section class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 id="projects" class="mb-5 pb-2 border-bottom">Check my
                        latest Projects</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-plain">
                        <div class="card-header p-0 position-relative">
                            <a class="d-block blur-shadow-image">
                                <img src="{{ url_for('static', filename='assets/img/python-projects.png') }}"
                                    alt="python projects"
                                    class="img-fluid shadow border-radius-lg project-thumb"
                                    loading="lazy">
                            </a>
                        </div>
                        <div class="card-body px-0">
                            <h5>
                                <a href="https://github.com/the-whiz84/Python_Projects"
                                    class="text-light font-weight-bold"
                                    target="_blank">Python
                                    Projects</a>
                            </h5>
                            <p>This is the GitHub repo for most of the projects
                                created using Python during the 100 Days of Code
                                bootcamp. Larger projects have separate repos.
                            </p>
                            <a href="https://github.com/the-whiz84/Python_Projects"
                                class="text-info text-sm icon-move-right"
                                target="_blank">Go to GitHub<i
                                    class="fas fa-arrow-right text-xs ms-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-plain">
                        <div class="card-header p-0 position-relative">
                            <a class="d-block blur-shadow-image">
                                <img src="{{ url_for('static', filename='assets/img/blog.png') }}"
                                    alt="img-blur-shadow"
                                    class="img-fluid shadow border-radius-lg project-thumb"
                                    loading="lazy">
                            </a>
                        </div>
                        <div class="card-body px-0">
                            <h5>
                                <a href="https://github.com/the-whiz84/Capstone_Blog_Project"
                                    class="text-light font-weight-bold"
                                    target="_blank">Radu's Blog</a>
                            </h5>
                            <p>A Blog Website created with Python, Flask and
                                SQLAlchemy with user registration and login flow
                                to post articles and comments.</p>
                            <a href="https://github.com/the-whiz84/Capstone_Blog_Project"
                                class="text-info text-sm icon-move-right"
                                target="_blank">Go to Github<i
                                    class="fas fa-arrow-right text-xs ms-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-plain">
                        <div class="card-header p-0 position-relative">
                            <a class="d-block blur-shadow-image">
                                <img src="{{ url_for('static', filename='assets/img/organize-it.webp') }}"
                                    alt="img-blur-shadow"
                                    class="img-fluid shadow border-radius-lg project-thumb"
                                    loading="lazy">
                            </a>
                        </div>
                        <div class="card-body px-0">
                            <h5>
                                <a href="https://todo.the-whiz.dev"
                                    class="text-light font-weight-bold"
                                    target="_blank">OrganizeIt</a>
                            </h5>
                            <p>ToDo Web App created with Flask, Bootstrap 5 and
                                PostgreSQL database to manage each user's list.
                                Tasks show due date and can be closed or
                                deleted.
                            </p>
                            <a href="https://todo.the-whiz.dev"
                                class="text-info text-sm icon-move-right"
                                target="_blank">Go to Website<i
                                    class="fas fa-arrow-right text-xs ms-1"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="card card-plain">
                        <div class="card-header p-0 position-relative">
                            <a class="d-block blur-shadow-image">
                                <img src="{{ url_for('static', filename='assets/img/shop.png') }}"
                                    alt="img-blur-shadow"
                                    class="img-fluid shadow border-radius-lg project-thumb"
                                    loading="lazy">
                            </a>
                        </div>
                        <div class="card-body px-0">
                            <h5>
                                <a href="https://shop.the-whiz.dev"
                                    class="text-light font-weight-bold"
                                    target="_blank">Demo E-Commerce Website</a>
                            </h5>
                            <p>This is an e-commerce Example Website created
                                with Flask, Bootstrap 5 and functioning payment
                                processing for testing using Stripe's API
                                services.</p>
                            <a href="https://shop.the-whiz.dev"
                                class="text-info text-sm icon-move-right"
                                target="_blank">Go to
                                Website<i
                                    class="fas fa-arrow-right text-xs ms-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END Projects -->

<!-- START Career and Education -->
<div class="row text-center py-5 mt-4 mb-4">
    <div class="col-4 mx-auto">
        <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1 bg-primary" role="tablist">
                <li id="experience" class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1 active"
                        data-bs-toggle="tab" href="#experience-tabs-simple"
                        role="tab" aria-controls="experience"
                        aria-selected="true">
                        My Experience
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab"
                        href="#education-tabs-simple" role="tab"
                        aria-controls="education" aria-selected="false">
                        Education
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- START Experience -->
<div class="tab-content">
    <div class="tab-pane fade show active" id="experience-tabs-simple"
        role="tabpanel" aria-labelledby="experience-tabs-simple">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 my-auto">
                    <h3 class="mt-5 mt-lg-0">Work Experience</h3>
                </div>
                <div class="col-lg-8 mt-lg-0 mt-5 ps-lg-0 ps-0">
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape bg-gradient-light text-center me-3"
                            style="display: flex; justify-content: center; align-items: center;">
                            <img src="{{ url_for('static', filename='assets/img/logos/eviden.png') }}"
                                alt="eviden" class="w-90">
                        </div>
                        <div class="description ps-3">
                            <h5 class="mt-5 mt-lg-0">HPC Technical Engineer</h5>
                            <h6 class="mt-5 mt-lg-0">Eviden Technologies: July
                                2023 - Present</h6>
                            <ul class="mb-0">
                                <li>Supporting the server infrastructure for a
                                    German auto maker for one of it’s
                                    most critical projects.</li>
                                <li>Using Puppet for configuration management
                                    and automatic patching of RHEL servers.</li>
                                <li>Monitoring the infrastructure using
                                    ManageNow for Datacenter Monitoring (MN4DCM)
                                    from Fujitsu.</li>
                                <li>Participating in a project to migrate
                                    obsolete RHV-Manager servers to new vSphere
                                    cluster </li>
                            </ul>
                        </div>
                    </div>

                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape  bg-gradient-light text-center me-3"
                            style="display: flex; justify-content: center; align-items: center;">
                            <img src="{{ url_for('static', filename='assets/img/logos/atos.svg') }}"
                                alt="atos" class="w-90">
                        </div>
                        <div class="description ps-3">
                            <h5 class="mt-5 mt-lg-0">HPC Technical Engineer</h5>
                            <h6 class="mt-5 mt-lg-0">ATOS Romania: Feb. 2022 -
                                July 2023
                            </h6>
                            <ul class="mb-0">
                                <li>Reviewing all the existing technical
                                    documentation and updating it accordingly
                                    to the current requirements.</li>
                                <li>Using Puppet for configuration management
                                    and automatic patching of RHEL servers.</li>
                                <li>Monitoring the infrastructure using
                                    ManageNow for Datacenter Monitoring (MN4DCM)
                                    from Fujitsu.</li>
                                <li>Participating in a project to migrate
                                    existing remote locations to a more
                                    streamlined solution.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape  bg-gradient-light text-center me-3"
                            style="display: flex; justify-content: center; align-items: center;">
                            <img src="{{ url_for('static', filename='assets/img/logos/CGS.svg') }}"
                                alt="cgs" class="w-90">
                        </div>
                        <div class="description ps-3">
                            <h5 class="mt-5 mt-lg-0">Technical Support Engineer
                                - Okta</h5>
                            <h6 class="mt-5 mt-lg-0">CGS Romania: April 2020 -
                                Jan. 2022
                            </h6>
                            <ul class="mb-0">
                                <li>Resolving support tickets submitted by
                                    customers.</li>
                                <li>Helping new admins to implement SSO, MFA and
                                    federation for their applications
                                    using SAML, OIDC and SCIM.</li>
                                <li>Writing new Knowledge Articles for problems
                                    and possible solutions not yet
                                    documented.</li>
                                <li>Troubleshooting Okta Access Gateway (a
                                    reverse proxy solution offered to
                                    customers to protect on-prem applications
                                    using header-based authentication and
                                    authorization) using ssh connections and
                                    Linux CLI.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape  bg-gradient-light text-center me-3"
                            style="display: flex; justify-content: center; align-items: center;">
                            <img src="{{ url_for('static', filename='assets/img/logos/CGS.svg') }}"
                                alt="cgs" class="w-90">
                        </div>
                        <div class="description ps-3">
                            <h5 class="mt-5 mt-lg-0">L2 Technical Mentor - Dell
                            </h5>
                            <h6 class="mt-5 mt-lg-0">CGS Romania: April 2018 -
                                March 2020
                            </h6>
                            <ul class="mb-0">
                                <li>Provide guidance and support for the Level 1
                                    support team.</li>
                                <li>Liason with the Level 3 team and create Jira
                                    tickets for them and other internal
                                    teams.</li>
                                <li>Create and share new training materials for
                                    latest products.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape  bg-gradient-light text-center me-3"
                            style="display: flex; justify-content: center; align-items: center;">
                            <img src="{{ url_for('static', filename='assets/img/logos/CGS.svg') }}"
                                alt="cgs" class="w-90">
                        </div>
                        <div class="description ps-3">
                            <h5 class="mt-5 mt-lg-0">Technical Support Agent -
                                Lenovo
                            </h5>
                            <h6 class="mt-5 mt-lg-0">CGS Romania: Oct. 2014 -
                                April 2018
                            </h6>
                            <ul class="mb-0">
                                <li>Log new support tickets received by phone or
                                    email.</li>
                                <li>Troubleshoot hardware problems related to
                                    laptops, PCs or mobile devices.</li>
                                <li>Find root cause for the issues and provide
                                    solution to customers.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape  bg-gradient-light text-center me-3"
                            style="display: flex; justify-content: center; align-items: center;">
                            <img src="{{ url_for('static', filename='assets/img/logos/CGS.svg') }}"
                                alt="cgs" class="w-90">
                        </div>
                        <div class="description ps-3">
                            <h5 class="mt-5 mt-lg-0">Back Office Agent - Sprint
                            </h5>
                            <h6 class="mt-5 mt-lg-0">CGS Romania: Aug. 2012 -
                                Oct. 2014
                            </h6>
                            <ul class="mb-0">
                                <li>Log new support tickets received by phone or
                                    email.</li>
                                <li>Troubleshoot hardware problems related to
                                    laptops, PCs or mobile devices.</li>
                                <li>Find root cause for the issues and provide
                                    solution to customers.</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Experience -->

<!-- START Education -->
<div class="tab-content">
    <div class="tab-pane fade" id="education-tabs-simple" role="tabpanel"
        aria-labelledby="education-tabs-simple">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 my-auto">
                    <h3 class="mt-5 mt-lg-0">Education</h3>
                </div>
                <div class="col-lg-8 mt-lg-0 mt-5 ps-lg-0 ps-0">
                    <div class="p-3 info-horizontal">
                        <div
                            class="icon icon-shape  bg-gradient-light text-center me-3">
                            <img src="{{ url_for('static', filename='assets/img/logos/spiru_haret.jpg') }}"
                                alt="cgs" class="w-100">
                        </div>
                        <div class="description ps-3">
                            <h5 class="mt-5 mt-lg-0">Bachelor Degree in
                                International Relations and European Studies
                            </h5>
                            <h6 class="mt-5 mt-lg-0">University of Spiru Haret,
                                Bucharest: 2003-2007</h6>
                            <ul class="mb-0">
                                <li>Graduation Grade: 8.60/10</li>
                                <li>European Studies: 9/10</li>
                                <li>History of the European Union: 10/10</li>
                                <li>Communication and Negotiations Skills: 8/10
                                </li>
                                <li>European Law: 9/10</li>
                            </ul>
                        </div>
                    </div>

                    <div class="p-3 info-horizontal">
                        <div
                            class="icon icon-shape  bg-gradient-light text-center me-3">
                            <i class="fa-solid fa-graduation-cap fa-2xl"
                                style="color: #000000;"></i>
                        </div>
                        <div class="description ps-3">
                            <h5 class="mt-5 mt-lg-0">Baccalaureate Diploma</h5>
                            <h6 class="mt-5 mt-lg-0">Gheorghe Cartianu Technical
                                College, Piatra-Neamt: 1999-2003
                            </h6>
                            <ul class="mb-0">
                                <li>Graduation Grade: 8.16/10</li>
                            </ul>
                        </div>
                    </div>

                    <div class="p-3 info-horizontal">
                        <div
                            class="icon icon-shape  bg-gradient-light text-center me-3">
                            <i class="fa-solid fa-school fa-2xl"
                                style="color: #000000;"></i>
                        </div>
                        <div class="description ps-3">
                            <h5 class="mt-5 mt-lg-0">Secondary School
                                Certificate</h5>
                            <h6 class="mt-5 mt-lg-0">Public School Nr 2,
                                Piatra-Neamt: 1995-1999
                            </h6>
                            <ul class="mb-0">
                                <li>Reached the Regional Stage in the
                                    Mathematics school olympics.</li>
                                <li>Took chess and airsoft rifle shooting
                                    classes at the local Children's Club.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Education -->
<!-- END Career and Education -->

<!-- START Skills and Technologies -->
<div class="container px-4 py-5 mt-4 mb-4" id="icon-grid">
    <h2 id="skills" class="pb-2 border-bottom">Skills and Technologies</h2>
    <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <div
                class="icon icon-shape text-center bg-gradient-info flex-shrink-0 me-3">
                <i class="fa-brands fa-linux fa-2xl"
                    style="color: #000000;"></i>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis"> Linux</h3>
                <p>Using as the main operating system. Capable of writing
                    bash/shell scripts.
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon icon-shape text-center bg-gradient-info flex-shrink-0 me-3">
                <i class="fa-brands fa-python fa-2xl"
                    style="color: #FFD43B;"></i>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Python</h3>
                <p>Learned Python as my first programming language. I have used
                    it in various projects, including web development, data
                    analysis and automation.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon icon-shape text-center bg-gradient-info flex-shrink-0 me-3">
                <i class="fa-solid fa-id-card fa-2xl"
                    style="color: #000000;"></i>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Identity and
                    Access Management</h3>
                <p>Resolved support tickets for Okta clients that integrated
                    their on-prem or cloud applications with SSO, MFA and
                    Lifecycle Management.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon icon-shape text-center bg-gradient-info flex-shrink-0 me-3">
                <i class="fa-solid fa-headset fa-2xl"
                    style="color: #000000;"></i>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Technical
                    Support</h3>
                <p>Highly experienced in offering technical support, both
                    hardware and software,
                    while working for Lenovo, Dell and Okta.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon icon-shape text-center bg-gradient-info flex-shrink-0 me-3">
                <i class="fa-brands fa-github fa-2xl"
                    style="color: #000000;"></i>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Git and GitHub
                </h3>
                <p>Experienced with git-based version control. I use Github for
                    all my projects but have experience with Gitlab also.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon icon-shape text-center bg-gradient-info flex-shrink-0 me-3">
                <i class="fa-solid fa-code-merge fa-2xl"
                    style="color: #000000;"></i>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Puppet</h3>
                <p>I use it in my daily work for configuration management and
                    automatic updates of RHEL servers.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon icon-shape text-center bg-gradient-info flex-shrink-0 me-3">
                <i class="fa-brands fa-aws fa-2xl" style="color: #ffffff;"></i>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Cloud Computing
                </h3>
                <p>Worked with features and technologies from the major cloud
                    providers such as GCP, AWS and Azure.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div
                class="icon icon-shape text-center bg-gradient-info flex-shrink-0 me-3">
                <i class="fa-solid fa-code fa-2xl" style="color: #000000;"></i>
            </div>
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Web Development
                </h3>
                <p>During the Python course, I was introduced to and learned
                    Flask, Bootstrap, HTML and CSS.</p>
            </div>
        </div>
    </div>
</div>
<!-- END Skills and Technologies -->

<!-- START Certifications -->
<div class="container px-4 py-3 mt-3 mb-4">
    <h2 id="certifications" class="pb-2 border-bottom">Certifications</h2>
    <div class="container py-3 mt-3">
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" width="140" height="140"
                    src="{{ url_for('static', filename='assets/img/logos/aws.png') }}">
                </img>
                <h3 class="fw-normal py-2 mt-2">AWS Certified Solutions
                    Architect – Associate</h3>
                <p>Earners of this certification have a comprehensive
                    understanding of AWS services
                    and technologies. They demonstrated the ability to build
                    secure and robust
                    solutions using architectural design principles based on
                    customer requirements.
                    Badge owners are able to strategically design
                    well-architected distributed
                    systems that are scalable, resilient, efficient, and
                    fault-tolerant.</p>
                <p><a class="btn btn-primary"
                        href="https://www.credly.com/badges/c75558c2-7879-40b0-aa16-be2c78d56971/public_url"
                        target="_blank">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" width="140" height="140"
                    src="{{ url_for('static', filename='assets/img/logos/python.png') }}">
                </img>
                <h3 class="fw-normal py-2 mt-2">100 Days of Code: The Complete
                    Python
                    Bootcamp</h3>
                <p>Master Python by building 100 projects in 100 days. Learn
                    data science,
                    automation, build websites, games and apps! You will be able
                    to program in
                    Python professionally. Create a portfolio of 100 Python
                    projects to apply for
                    developer jobs. Be able to use Python for data science and
                    machine learning. You
                    will learn Selenium, Beautiful Soup, Request, Flask, Pandas,
                    NumPy, Scikit
                    Learn, Plotly, and Matplotlib.</p>
                <p><a class="btn btn-primary"
                        href="https://www.udemy.com/certificate/UC-a0f21ccd-9840-4158-8bb3-b2d4f39dac93/"
                        target="_blank">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class=" col-lg-4">
                <img class="rounded-circle" width="140" height="140"
                    src="{{ url_for('static', filename='assets/img/logos/Comptia-linux.png') }}">
                </img>
                <h3 class="fw-normal py-2 mt-2">CompTIA Linux+</h3>
                <p>Earners of the CompTIA Linux+ certification have the
                    knowledge and skills
                    required to succeed in a Linux operating system environment.
                    CompTIA Linux+
                    earners have demonstrated the ability to configure the
                    system, navigate the
                    command line, and use common package management systems.
                    They are also able to
                    customize the environment, create scripts and configure
                    networking.</p>
                <p><a class="btn btn-primary"
                        href="https://www.credly.com/badges/ee106ea6-ba34-440b-9f29-3f2a59239e9d/public_url"
                        target="_blank">View details »</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    </div>
</div>

{% endblock %}